@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&family=Inter:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  
  background-image:
    url('/Fon1.webp'), url('/Fon2.webp'), url('/Fon3.webp'), url('/Fon4.webp'), url('/Fon5.webp');

  background-repeat: no-repeat;
  background-attachment: scroll;

  /* каждый фон занимает экрана */
  background-size:
    100% 100vh,
    100% 100vh,
    100% 100vh,
    100% 100vh;

  /* строгая последовательность сверху вниз */
  background-position:
    center calc(100vh * 0),
    center calc(100vh * 1),
    center calc(100vh * 2),
    center calc(100vh * 3),
    center calc(100vh * 4);

  background-color: #000;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  html,
  body {
    height: auto; /* вместо 500vh */
  }
  body {
    background-size:
      100% 100vh,
      100% 100vh,
      100% 100vh,
      cover;
  }
}
.font-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .bg-custom-gradient {
    background:
      radial-gradient(
        88.29% 134.21% at 88.29% 50%,
        rgba(27, 0, 69, 0.35) 0%,
        rgba(69, 0, 180, 0.208) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23));
  }
  .text-custom-gradient {
    background-image: linear-gradient(109.61deg, #6036f6 -9.44%, #b080f9 111.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* для других браузеров */
    color: transparent;
  }
}
